.ndsSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.ndsSection label {
  font-weight: 700;
  color: #222;
  font-size: 1.4rem;
  margin-right: 2rem;
  min-width: 150px;
}