.form {
  display: block;
  padding: 2rem;
  background: #b8bec5;
  border-radius: 8px;
  box-shadow: 0 10px 12px rgba(0,0,0,0.06);
  margin: 5%;
  max-width: 70%;
  font-family: Arial, sans-serif;
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .twoColumnGrid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}